/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header {
        height: 75px;
    }
    .logo img {
        height: 70px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header {
        height: 60px;        
    }
    .logo img {
        height: 55px;
    }
    .main-menu-xs {
        top: 62px;
    }
    .wrapper {
        padding-top: 60px;
    }        
    .wrapper > .header {
        margin-top: -60px;
    }
    .img-rounded {
    -webkit-filter: grayscale(0%);
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.menu {
display: inline-block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}