html, body {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;    
	color: white;
    word-spacing: normal;
    height: 100%;
    background-color: #F5F5F5;
}

.home {
    position: relative;
    min-height: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    padding-top: 90px;
    padding-bottom: -24px;
}

.wrapper > .header {
    margin-top: -90px;
}

.wrapper > .content {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.header {
    width: 100%;
    font-size: 1.142857143em;
    background-color: #11557D;        
    padding: 0 0.5em;
    height: 90px;
    z-index: 1;
}

.logo {
    height: 100%;
    width: 23%;
    line-height: 100%;
    text-align: center;
    display: table;
    float: left;
    }

.logo a {
    line-height: 100%;
    display: table-cell;
    height: auto;
    vertical-align: middle;
}

.logo img {
    display: table-cell;
    vertical-align: middle;
    height: 85px;
    width: auto;
}


.main-menu {
    height: 100%;
    line-height: 100%;
    float: left;
}

.main-menu a {
    color: white;
}

.main-menu a:hover {
    text-decoration: none;
    background: snow;
    color: black;
}

.main-menu ul {
    display: table;
    list-style-image: none;
    vertical-align: middle;
}

.main-menu li {
    height: 100%;
    display: table-cell;
    padding-right: 1em;
    list-style-image: none;
    vertical-align: middle;
}

.main-menu-sm > .dropdown {
    padding-left: 3em;
}

.dropdown ul,li {
	display: none;
}

.dropdown-menu {
	font-size: 1em;
	background-color: #468CB6;
	border-radius: 4px;	
	}	

.dropdown-menu  li{
	padding: 0;
	display: block;
	padding: 0.2em;
}	

.dropdown-menu > li > a {
	padding: 3px 10px;
	color: white;
	line-height: 100%;
}
	
.dropdown-menu a {
	color: white;
}	
.dropdown-submenu {
    position: relative;
}

.dropdown {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.btn-primary {
    font-size: 1em;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
    
.dropdown-submenu > .dropdown-menu {
    margin-left: 0px;
}

.main-menu-sm {
    display: table;
    vertical-align: middle;
    height: 100%;
    float: left;
}

.btn {
	border: 2px solid transparent;
}

.btn-group {
    display: table-cell;
    vertical-align: middle;
}

.btn-primary {
    border-color: white;	
}

.lang {
    display: table;
    vertical-align: middle;
    height: 100%;
    float: right;
}

.lang a {
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
}
.lang a:first-child {
    padding-right: 1em;
}
.lang img {
    height: 18px;
    width: auto;
}

.main-menu-xs {
    position: absolute;
	display: inline;
	top: 77px;
	left: 12px;
	z-index: 1;
}

.content {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    height: 100%;
}

#carousel-example-generic img{
    width: 100%;
    height: 100%;
}

#carousel-example-generic {
    height: 100%;
    padding-bottom: 24px;
}

.carousel-indicators {
    bottom: 40px;
}

.content-small {
	height: 100%;
    width: 100%;
}

.content-small img {
    height: 100%;
    width: 100%;
}

.contacts {
    text-align: center;
    color: #11557D;
    font-size: 1em;
    margin-top: 4em;
}

.about {
    margin-top: 5em;
    color: #11557D;
    font-size: 1em;
    text-align: justify;
}

.about li {
    display: list-item;
}

.view {
   width: 100%;
   height: 100%;
   margin: 10px;
   border-radius: 8px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask {
   width: 100%;
   height: 100%;
   border-radius: 8px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-align: center;
   position: relative;
   font-size: 1.2em;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin-top: 15%;
}
.view p {
   font-size: 1em;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   margin: 1em;
   background: #11557D;
   color: #fff;
   border-radius: 4px;
   border: 2px solid white;        
   text-transform: uppercase;
}

.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   transform: translateX(-100%);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   background: #FBFBFB;
   color: #000;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #000;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   opacity: 0.5;
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.header-post {
    font-size: 1em;
    color: #11557D;
    padding: 10px;
}

 .bigicon {
     font-size: 2em;
     color: #36A0FF;
  }

.form-group {
    margin-bottom: 1em;
}

.footer {
    clear: both;
    width: 100%;
    height: 24px;
    font-size: 1em;
    background-color: #11557D;
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.footer p {
    vertical-align: middle;
    margin: 0;
}
    
.footer a {
    color: white;
    text-decoration: underline;
    padding-left: 1em;    
}

.footer a:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    }